<section id="depoimentos" class="secao secao-depoimentos">
  <div class="container">
    <ng-container *ngIf="listaDepoimentos.length > 0">
      <div class="depoimento-card" *ngIf="listaDepoimentos[depoimentoAtualIndex] as depoimento">

        <div class="depoimento-conteudo">
          <div class="depoimento-cabecalho">
            <h4>depoimentos</h4>
          </div>

          <blockquote class="depoimento-citacao">
            <p>{{ depoimento.citacao }}</p>
            
          </blockquote>

          <div class="depoimento-autor">
            <strong>{{ depoimento.autor }}</strong>
            <span>{{ depoimento.descricao }}</span>
          </div>
        </div>

        <div class="depoimento-imagem">
          <img [src]="depoimento.imagemUrl" [alt]="'Foto de ' + depoimento.autor" />

          <div class="depoimento-navegacao">
            <button class="btn-nav btn-anterior" (click)="mostrarAnterior()">&lt;</button>
            <button class="btn-nav btn-proximo" (click)="mostrarProximo()">&gt;</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
