<header>
  <a routerLink="/">
    <img class="logo_principal" src="imagens/logo_imagem.png" alt="Logo do consultório"/></a>

  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="botao_header">Home</a></li>
      <li><a routerLink="/sobre" routerLinkActive="active-link"class="botao_header">Sobre Mim</a></li>
      <li><a routerLink="/faq" routerLinkActive="active-link"class="botao_header">FAQ</a></li>
      <li><a routerLink="/agendamento/login" routerLinkActive="active-link"class="botao_header">Marcar Consultas</a></li>
    </ul>
  </nav>
</header>