<section id="inicio" class="secao secao-hero">
  <div class="container hero-container">
    <div class="hero-imagem">
      <img
        src="imagens/imagem_hero.jpg" alt="Alessandra, Psicopedagoga e Pedagoga especialista em educação inclusiva" />
    </div>
    <div class="hero-conteudo">
      <h1> Olá, sou Alessandra, <br/>Pedagoga Especialista em <br/>Educação Inclusiva </h1>
      <p>Transformando o aprendizado de cada criança por meio da atenção individualizada, cuidado emocional e estratégias pedagógicas inclusivasque respeitam o ritmo, as necessidades e as potencialidades de cada
        aluno. </p>
      <div class="hero-acoes">
        <a routerLink="/agendamento/servicos" class="btn btn-primario"
          >Agende uma Consulta</a
        >
        <a routerLink="/sobre" class="btn btn-secundario"
          >Conheça meus Serviços</a
        >
      </div>
    </div>
  </div>
</section>
