<div class="container-hero">
  
    <div class="imagem-hero">
      <img src="assets/img/imagem-hero_2.png" alt="Alessandra, Pedagoga especialista em educação inclusiva" />
    </div>
  
    <div class="conteudo-hero">
      <h1>
        Olá, sou Alessandra, <br />Pedagoga Especialista em <br />Educação
        Inclusiva
      </h1>
      <p>
        Transformando o aprendizado de cada criança por meio da atenção
        individualizada, cuidado emocional e estratégias pedagógicas
        inclusivas que respeitam o ritmo, as necessidades e as
        potencialidades de cada aluno.
      </p>
  
      <div class="acoes-hero">
        <a routerLink="/consultas" class="botao botao-primario">Agende uma Consulta</a>
        <a routerLink="/sobre" class="botao botao-secundario">Conheça meus Serviços</a>
      </div>
    </div>
  </div>