<section id="experiencia" class="secao secao-experiencia">
    <div class="container">
      <div class="cabecalho-secao">
        <h2>Parcerias que Transformam</h2>
        <p>Acredito no poder da colaboração para criar uma educação mais inclusiva. Tenho orgulho de ter
          feito parte da história de instituições que, como eu, se dedicam a transformar o futuro de cada
          aluno.</p>
      </div>
  
      <div class="grade-experiencia">
        <div class="item-experiencia">
          <img src="imagens/escola amigos do rei.JPG" alt="Logo da Escola Amigos do Rei">
          <div class="legenda-logo">Escola Amigos do Rei</div>
        </div>
  
        <div class="item-experiencia">
          <img src="imagens/colegio julieta viana.jpg" alt="Logo do Colégio Julieta Viana">
          <div class="legenda-logo">Colégio Julieta Viana</div>
        </div>
  
        <div class="item-experiencia">
          <img src="imagens/escola do pau miudo.jpg" alt="Logo da Escola Municipal do Pau Miúdo">
          <div class="legenda-logo">Escola Municipal do Pau Miúdo</div>
        </div>
  
        <div class="item-experiencia">
          <img src="imagens/instituo dos cegos.jpeg" alt="Logo do Instituto de Cegos da Bahia">
          <div class="legenda-logo">Instituto de Cegos da Bahia</div>
        </div>
      </div>
    </div>
  </section>
