
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    width: 100%;
    overflow-x: hidden; 
}


section {
    padding: 80px 20px; 
    width: 100%;
    box-sizing: border-box; 
}


.secao-centralizada {
    min-height: 70vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {
    section {
      padding: 40px 20px;
  }

  
  .secao-centralizada {
      min-height: auto; 
  }
}
