<section id="servicos" class="secao secao-servicos">
  <div class="container">
    <div class="secao-cabecalho">
      <h2>Como Posso Ajudar?</h2>
      <p>
        Conheça as frentes de trabalho e o apoio especializado que ofereço
        para cada jornada de aprendizagem.
      </p>
    </div>

    <div class="servicos-grid">

      <div 
        *ngFor="let servico of listaDeServicos" 
        class="servico-item"
        (click)="toggleServico(servico)"  
        [class.active]="servico.isOpen"
      >
        <div class="servico-icone">
          <img [src]="servico.icone" [alt]="servico.titulo" class="img_ajuda"/>
        </div>
        <h3>{{ servico.titulo }}</h3>

        <div *ngIf="servico.isOpen" class="servico-descricao">
          
          <hr class="divisor">

          <p>{{ servico.descricao }}</p>

        </div>
        
      </div>
    </div>
  </div>
</section>

