<section id="servicos" class="section section-services">
    <div class="container">
      <div class="section-header">
        <h2>Como Posso Ajudar?</h2>
        <p>
          Conheça as frentes de trabalho e o apoio especializado que ofereço
          para cada jornada de aprendizagem.
        </p>
      </div>

      <div class="services-flex">
        <div class="service-item">
          <div class="service-icon">
            <img src="/arquivos img/icone lupa cerebro.png" alt="" />
          </div>
          <h3>Avaliação Psicológica</h3>
        </div>

        <div class="service-item">
          <div class="service-icon">
            <img src="/arquivos img/icone individuo.png" alt="" />
          </div>
          <h3>Intervenção Individualizada</h3>
        </div>

        <div class="service-item">
          <div class="service-icon">
            <img src="/arquivos img/icone familia.png" alt="" />
          </div>
          <h3>Orientação Parental</h3>
        </div>

        <div class="service-item">
          <div class="service-icon">
            <img src="/arquivos img/icone consulta pedagogica.png" alt="" />
          </div>
          <h3>Consultoria Pedagógica</h3>
        </div>
      </div>
    </div>
  </section>

