<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-about">
      <h3 class="footer-title">Alessandra Freitas</h3>
      <p>
        Pedagoga apaixonada por transformar a educação através de criatividade, afeto e inovação. Acredito no potencial de cada criança como agente de sua própria aprendizagem.
      </p>
      <div class="social-links">
        <a href="https://instagram.com/proale_21" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
          <img class="social-icon" src="imagens/instagram.svg" alt="Ícone do Instagram">
        </a>
        <a href="https://br.linkedin.com/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
          <img class="social-icon" src="imagens/linkedin.svg" alt="Ícone do LinkedIn">
        </a>
        <a href="https://www.whatsapp.com/?lang=pt" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
          <img class="social-icon" src="imagens/whatsapp.svg" alt="Ícone do WhatsApp">
        </a>
      </div>
    </div>

    <div class="footer-links">
      <h4 class="footer-title">Navegação</h4>
      <ul>
        <li><a routerLink="/sobre">Sobre Mim</a></li>
        <li><a routerLink="/portfolio">Portfólio</a></li>
        <li><a routerLink="/projetos">Projetos Pedagógicos</a></li>
        <li><a routerLink="/artigos">Artigos e Publicações</a></li>
        <li><a routerLink="/recursos">Recursos Educacionais</a></li>
      </ul>
    </div>

    <div class="footer-quick-links">
      <h4 class="footer-title">Contato</h4>
      <ul>
        <li><a routerLink="/contato">Fale Comigo</a></li>
        <li><a routerLink="/consultoria">Consultoria</a></li>
        <li><a routerLink="/parcerias">Parcerias</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/agendamento/servicos">Politicas de Privacidade</a></li>

      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>
      &copy; 2025 Alessandra Freitas. Todos os direitos reservados.
      Feito com <img class="heart-icon" src="imagens/coraçao.png" alt="Ícone de coração"> para inspirar a educação!
    </p>
  </div>
</footer>
